@use "../../styles/constants.module.scss" as constants;
@use "../../styles/functions.module.scss" as functions;
@use "../../styles/mixin.module.scss" as mixin;

.coffee {
  h2 {
    @include mixin.font($size: 60, $height: 125%, $weight: 600);
    @include mixin.adaptiveClamp(
      $property: font-size,
      $startSize: 60,
      $minSize: 32
    );
    color: constants.$textColor;
    text-align: center;
  }
}
