@use "../../styles/constants.module.scss" as constants;
@use "../../styles/functions.module.scss" as functions;
@use "../../styles/mixin.module.scss" as mixin;

.about {
  .text {
    @include mixin.font($size: 60, $height: 125%, $weight: 600);
    @include mixin.adaptiveClamp(
      $property: font-size,
      $startSize: 60,
      $minSize: 32
    );
    color: constants.$textColor;
  }
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: functions.rem(40);
    padding-top: functions.rem(40);
    @include mixin.anyMedia(1450) {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include mixin.last() {
        bottom: functions.rem(0);
      }
    }
    .photo {
      overflow: hidden;
      border-radius: functions.rem(20);
      @include mixin.adaptiveClamp(
        $property: width,
        $startSize: 660,
        $minSize: 325
      );
      height: functions.rem(430);
      @include mixin.first() {
        height: functions.rem(590);
      }
      @include mixin.last() {
        position: relative;
        height: functions.rem(590);
        bottom: functions.rem(160);
      }
      @include mixin.anyMedia(1450) {
        @include mixin.last() {
          bottom: functions.rem(0);
        }
      }
      @include mixin.media-tablet() {
        @include mixin.notLast() {
          display: none;
        }
        @include mixin.first() {
          display: inline;
        }
      }
      img {
        transform: scale(1.1);
        @include mixin.anyHover() {
          transform: scale(1);
        }
        width: 100%;
        height: 100%;
        transition: constants.$standartTrans;
        object-fit: cover;
      }
    }
  }
}
