$maxWidth: 1920;
$maxWidthContainer: 1440;
$containerWidth: 1360;
$tableWidth: 768;
$minWidth: 320;

$mainOffset: 50;
$mainFont: "Montserrat";
$mainWeight: 400;

$whiteColor: rgb(255, 255, 255);
$redColor: rgb(255, 0, 0);
$bgColor: #e1d4c9;
$textColor: #403f3d;
$footerTextColor: #e1d4c9;
$footerBgColor: #665f55;
$footerH2SecondColor: #b0907a;
$footerBtnBorder: #c1b6ad;
$modalWindowBgColor: rgba(64, 63, 61, 0.8);

$fontFamily: $mainFont, sans-serif;
$fontStyle: normal;
$fontLetter: normal;
$fontSize: 16;
$fontWeight: $mainWeight;

$standartTrans: all 280ms;
