@use "../../styles/constants.module.scss" as constants;
@use "../../styles/functions.module.scss" as functions;
@use "../../styles/mixin.module.scss" as mixin;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: constants.$textColor;
  .nav,
  .nav-menu {
    @include mixin.media-tablet() {
      display: none;
    }
  }
  .active {
    border-bottom: functions.rem(1) solid constants.$textColor;
  }
}
