@use "../../styles/constants.module.scss" as constants;
@use "../../styles/functions.module.scss" as functions;
@use "../../styles/mixin.module.scss" as mixin;

.modal-window {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: constants.$modalWindowBgColor;
  transition: constants.$standartTrans;
  .window {
    display: flex;
    column-gap: functions.rem(16);
    padding: functions.rem(16);
    max-width: functions.rem(880);
    background-color: constants.$footerTextColor;
    height: functions.rem(500);
    border-radius: functions.rem(50);
    .image {
      max-width: functions.rem(340);
      height: auto;
      img {
        border-radius: functions.rem(50);
      }
    }
    .information {
      display: flex;
      flex-direction: column;
      row-gap: functions.rem(20);
      .title,
      .totals {
        @include mixin.font($size: 24, $height: 125%, $weight: 600);
        color: constants.$textColor;
      }
      .totals {
        border-bottom: functions.rem(1) solid constants.$footerBtnBorder;
        padding-bottom: functions.rem(20);
      }
      .alert {
        display: flex;
        column-gap: functions.rem(8);
        align-items: start;
        @include mixin.font($size: 10, $height: 140%, $weight: 600);
        color: constants.$textColor;
      }
      .btn-close {
        width: 100%;
        button {
          width: 100%;
          height: functions.rem(44);
          border: functions.rem(1) solid constants.$footerBtnBorder;
          @include mixin.font($size: 16, $height: 150%, $weight: 600);
          @include mixin.anyHover() {
            background-color: constants.$footerBgColor;
            color: constants.$footerTextColor;
          }
        }
      }
      .description,
      .size,
      .add {
        @include mixin.font($size: 16, $height: 125%, $weight: 400);
        color: constants.$textColor;
      }
      .totals {
        display: flex;
        justify-content: space-between;
      }
      .btns {
        button {
          @include mixin.font($size: 16, $height: 125%, $weight: 600);
          border: functions.rem(1) solid constants.$footerBtnBorder;
          width: functions.rem(117);
          height: functions.rem(46);
          @include mixin.anyHover() {
            background-color: constants.$footerBgColor;
            color: constants.$footerTextColor;
          }
        }
      }
    }
  }
}
.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  transition: constants.$standartTrans;
}
